/*!*字体*!*/
/*@font-face {font-family: 'webfont';*/
    /*src: url('../font/webfont.eot'); !* IE9*!*/
    /*src: url('../font/webfont.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
    /*url('../font/webfont.woff') format('woff'), !* chrome、firefox *!*/
    /*url('../font/webfont.ttf') format('truetype'), !* chrome、firefox、opera、Safari, Android, iOS 4.2+*!*/
    /*url('../font/webfont.svg#webfont') format('svg'); !* iOS 4.1- *!*/
/*}*/
/*.web-font{font-family:"webfont" !important;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;}*/
*{margin: 0;padding: 0;}
body{margin: 0;padding: 0}
li{list-style: none}
i,em{font-style: normal}
a{text-decoration: none;color: #333;}
html{font-family: "Microsoft YaHei",Helvetica,"SimSun",Arial,Tahoma,Verdana,sans-serif;color: #333;}
h1,h2,h3,h4,h5,h6{font-size:12px;font-weight: normal}
hr{height: 1px;border: none;border-top: 1px solid #ccc;}
a img{border:0}
img{display:block;vertical-align:middle}
.clearfix:after{content: "";display: block;clear: both;}
.clearfix{zoom: 1}
.fl{float: left;}
.fr{float: right;}
.mal684{margin-left: 684px;}
.mal100{margin-left: 100px}
.mat120{margin-top: 120px;}
.mat334{margin-top: 334px}
.por{position: relative}
.poa{position: absolute}
.wrap1000{width: 1000px;margin: 0 auto}
.wrap1200{width: 1200px;margin: 0 auto}

/*header*/
.header{width: 100%;height: 49px;line-height: 50px;background: #fff;border-bottom: 1px solid #e5e5e5}
.nav{height:50px;width: 1000px;margin: 0 auto;}
.logo{margin-top: 10px;}
.logo img{width:104px;height: 30px; margin-right:10px; }
.menu{}
.menu a{display:inline-block;padding: 0 40px;font-size:14px;color: #333;}
.menu a:hover{color: #999}
/*banner*/
.banner{background: url("../img/banner-bg.jpg") no-repeat 50% top;margin-top: -2px;}
.banner-con{height: 799px;width: 1000px;margin: 0 auto}
.banner img{margin-top: -1px;}
.android,.iphone,.web{left: 4px;top:445px;width: 181px;height: 54px;background: url("../img/iphone_android.png") left -1px no-repeat;}
.android{background-position:left -111px;top:530px; }
.web{background-position: left -221px;top:614px;}
.iphone:hover{background-position: left -56px;}
.android:hover{background-position: left -166px;}
.web:hover{background-position: left -276px;}


.phone-one{height: 977px;opacity: .5;filter: alpha(opacity=50); overflow: hidden}
.phone-one .phone1{top:285px;}
.phone-one .phone2{top:166px;left: 152px;}
.phone-one .phone3{top:109px;left: 380px;}

.phone-two{height: 1230px;overflow: hidden}
.phone-two-img-pos1{top:272px;left: 888px;}
.phone-two-img-pos2{top:169px;left: 700px;}
.phone-two div{margin: 476px 0 0 100px;}

.phone-three{height: 750px;overflow: hidden}
.phone-three img{top:0}
.phone-three div{margin: 38px 0 0 684px;}

.phone-four{width: 100%;height:1980px;background:#fafafa;overflow: hidden}
.phone-four-con{width:1200px;height: 1980px;left: 50%;margin-left: -600px;}
.phone-4{left: 136px;position: absolute}
.phone-4-shadow{left:139px;top:-3px;position: absolute ;}
.phone-four-con div{top:360px;left: 100px;}

.phone-five{width: 100%;overflow: hidden}
.phone-five-con{width: 1200px;height: 934px;left: 50%;margin-left: -600px;}
.phone-five-con img{left: -236px;top:132px;}
.phone-five-con div{top:198px;left: 684px;}

.phone-six{height: 937px;}
.phone-six img{left: 315px;top: 127px;}
.phone-six div{left: 100px;top: 0;}

.category{position: absolute;bottom:0;width: 1000px;height: 100px;left: 50%;margin-left: -500px;}
.category a{display: inline-block;height: 100px;border-right: 1px solid #e6e6e6;padding: 0 49px;line-height: 100px;}
.category a h3{font-size: 48px;color: #d9c399;}

.info{width: 416px;font-weight:normal}
.pri-msg{color:#333}
.info-title,.pri-title{margin-bottom: 26px;font-size: 42px;font-weight: 100;}
.info-con,.pri-con{font-size: 20px;line-height: 36px;font-weight: 100;}

.price-bg{width: 100%;height:662px;background: #fafafa;}
.price{text-align: center;overflow: hidden}


.pri-list{}
.pri-list li{float: left;width: 180px;height: 180px;border:1px solid  #333;border-radius: 20px;margin: 84px 90px 0 0;}
.pri-list li h3{margin: 0;padding: 0;}
.pri-list li h3{font-size: 44px;margin-top: 58px;}
.pri-list li span{float: left;margin:20px 0 0 8px;font-size: 24px;}

/*footer*/
.footer{height: 240px;width: 100%;background: #f2f2f2}
.footer-con{font-size:14px;color: #999;overflow: hidden }
.footer-nav{width: 1000px;height: 36px;border-bottom: 1px solid #ccc;line-height: 36px;top:120px;}
.footer-nav-list{left: 366px;top:0;}
.footer-nav-list a{color: #999;padding: 0 14px;}
.footer-nav-list a:hover{text-decoration: underline;color: #333;}
.footer-nav-con{height: 36px;line-height: 36px;top:158px;}
.footer-nav-con i{margin-right: 12px;}
.footer-nav-con a{color: #999;}
.footer-nav-con a:hover{text-decoration: underline;color: #333;}

.follow-con{top:80px;height: 40px;line-height: 40px;}
.weixin,.weibo{top:0;width: 40px;height: 40px;background: url("../img/sina_weibo.png") left -1px no-repeat;}
.weixin{position: absolute;left: 78px;}
.weixin-code{display: none;position: absolute;width:100px;height: 111px;left: 50px;bottom:47px;z-index: 322}
.weibo{position: absolute;left: 138px;background-position: left -83px;}
.weixin:hover{background-position: left -42px;}
.weibo:hover{background-position: left -124px;}

/*返回顶部*/
.return-top{position: fixed;right:30px;bottom: 80px;width: 80px;height: 80px;}
.return-top-btn{display: inline-block;top:0;width: 80px;height: 80px;background: url("../img/btn_returntop.png") left -1px no-repeat;}
.return-top-btn:hover{background-position: left -81px;}

/*意见反馈*/
.feedback{width: 1000px;min-height:650px;margin: 0 auto;overflow: hidden;}
.feedback h3{margin:28px 0 22px 0;font-size: 18px;}
.feedback h4{margin: 20px 0 25px 0 ;font-size: 16px;}
.feedback p{line-height: 25px;font-size: 14px;}
.feedback p img{left:66px;top:0; }
.code{top:90px;left: 665px;}

/*超值活动*/
.golden{width: 1000px;margin: 0 auto;min-height: 650px;}
.golden h3{margin:28px 0 22px 0;font-size: 18px;}
.golden-con{}
.left-con{width: 260px;height: 90px;margin-right: 40px;padding-top:18px;border-bottom: 1px solid #ccc;}
.left-con h4{font-size: 16px;}
.right-con{width: 700px;height: 108px;border-bottom: 1px solid #ccc;}
.right-con p{line-height: 24px;font-size: 14px;margin-top: 37px;}
.weibo-code{width: 710px;height: 196px;position: relative;overflow: hidden;margin-left: 300px;}
.weibo-code hr{display: inline-block;width: 1px;height: 196px;border: none;border-left: 1px solid #ccc;position: absolute;top:0;left: 350px;}
.weibo-code img{display: inline;margin: 0 90px;}

/*校园合伙人*/
.par-banner{width: 100%;height: 640px;background: url("../img/partnerts-banner.jpg") center;margin: -3px}
.par-con{width: 1000px;margin: 0 auto}
.par-ad{height:282px;text-align: center;border-bottom: 1px solid #ccc;margin: 5px auto}
.par-ad p{margin-top: 35px;line-height: 24px;font-size: 14px;}
.par-ad p span{font-size:16px; ;color: #2c8ee5;}
.problem{}
.problem h3{font-size: 18px;text-align: center;line-height: 77px;border-bottom: 1px solid #ccc;}