/*!*字体*!*/
/*@font-face {font-family: 'webfont';*/
    /*src: url('../font/webfont.eot'); !* IE9*!*/
    /*src: url('../font/webfont.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
    /*url('../font/webfont.woff') format('woff'), !* chrome、firefox *!*/
    /*url('../font/webfont.ttf') format('truetype'), !* chrome、firefox、opera、Safari, Android, iOS 4.2+*!*/
    /*url('../font/webfont.svg#webfont') format('svg'); !* iOS 4.1- *!*/
/*}*/
/*.web-font{font-family:"webfont" !important;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;}*/
*{margin: 0;padding: 0;}
body{margin: 0;padding: 0}
li{list-style: none}
i,em{font-style: normal}
a{text-decoration: none;color: #333;}
font{font-family: "Microsoft YaHei",Helvetica,"SimSun",Arial,Tahoma,Verdana,sans-serif;color: #333;}
h1,h2,h3,h4,h5,h6{font-size:12px;font-weight: normal}
a img{border:0}
img{display:block;vertical-align:middle}
.clearfix:after{content: "";display: block;clear: both;}
.clearfix{zoom: 1}
.fl{float: left;}
.fr{float: right;}
.mal684{margin-left: 34.2rem;}
.mal100{margin-left: 5rem}
.mat120{margin-top: 6rem;}
.mat334{margin-top: 16.7rem}
.por{position: relative}
.poa{position: absolute}
.wrap1000{width: 50rem;margin: 0 auto}
.wrap1200{width: 60rem;margin: 0 auto}

/*header*/
.header{width: 100%;height: 2.45rem;line-height: 2.5rem;background: #fff;border-bottom: 1px solid #e5e5e5}
.nav{height:2.45rem;width: 50rem;margin: 0 auto;line-height: 2.5rem;}
.logo{margin-top: .5rem;}
.logo img{width:5.2rem;height: 1.5rem; margin-right:.5rem; }
.menu{}
.menu a{display:inline-block;padding: 0 2rem;font-size:.7rem;color: #333;}
.menu a:hover{color: #999}
/*banner*/
.banner{height: 39.95rem;background: url("../img/banner-bg.jpg") no-repeat 50% top;background-size: 96rem 39.95rem}
.banner-con{height: 39.95rem;width: 50rem;margin: 0 auto}
.banner-con img{height: 39.95rem;width: 50rem;}
.android,.iphone,.web{left: .2rem;top:22.3rem;width: 9.05rem;height: 2.7rem;background: url("../img/iphone_android.png") left -1px no-repeat;background-size: 9.05rem 16.5rem}
.android{background-position:left -5.5rem;top:26.4rem; }
.web{background-position: left -11.05rem;top:30.7rem;}
.iphone:hover{background-position: left -2.8rem;}
.android:hover{background-position: left -8.3rem;}
.web:hover{background-position: left -13.8rem;}


.phone-one{height: 48.85rem;opacity: .5;filter: alpha(opacity=50); overflow: hidden}
.phone-one .phone1{top:14.25rem;width: 27.7rem;height:28.75rem }
.phone-one .phone2{top:8.3rem;left: 7.6rem;width: 20.15rem;height:28.6rem }
.phone-one .phone3{top:5.45rem;left: 19rem;width: 12.75rem;height:28.4rem }

.phone-two{height: 61.5rem;overflow: hidden}
.phone-two-img-pos1{top:13.6rem;left: 44.4rem;width: 14.35rem;height:42.3rem; }
.phone-two-img-pos2{top:8.45rem;left: 35rem;width:13.05rem;height:40.5rem }
.phone-two div{margin: 23.8rem 0 0 5rem;}

.phone-three{height: 37.5rem;overflow: hidden}
.phone-three img{top:0;width: 31.95rem;height: 30.15rem}
.phone-three div{margin: 1.9rem 0 0 34.2rem;}

.phone-four{width: 100%;height:99rem;background:#fafafa;overflow: hidden}
.phone-four-con{width:60rem;height: 99rem;left: 50%;margin-left: -30rem;}
.phone-4{left: 6.8rem;position: absolute;width: 70.05rem;height: 97.8rem}
.phone-4-shadow{left:6.95rem;top:-.15rem;position: absolute ;width: 70.05rem;height: 97.8rem}
.phone-four-con div{top:18rem;left: 5rem;}

.phone-five{width: 100%;overflow: hidden}
.phone-five-con{width: 60rem;height: 46.7rem;left: 50%;margin-left: -30rem;}
.phone-five-con img{left: -11.8rem;top:6.6rem;width: 41.2rem;height:29.5rem }
.phone-five-con div{top:9.9rem;left:34.2rem;}

.phone-six{height: 46.85rem;}
.phone-six img{left: 15.75rem;top: 6.35rem;width: 46.85rem;height:38.15rem }
.phone-six div{left: 5rem;top: 0;}

.category{position: absolute;bottom:0px;width: 50rem;height: 5rem;left: 50%;margin-left: -25rem;}
.category a{display: inline-block;height: 5rem;border-right: 1px solid #e6e6e6;padding: 0 2.4rem;line-height: 5rem;}
.category a h3{font-size: 2.4rem;color: #d9c399;}

.info{width: 20.8rem;font-family: "Microsoft YaHei";color:#333;font-weight:normal}
.pri-msg{font-family: "Microsoft YaHei";color:#333}
.info-title,.pri-title{margin-bottom: 1.3rem;font-size: 2.1rem;}
.info-con,.pri-con{font-size: 1rem;line-height: 1.8rem;}

.price-bg{width: 100%;height:33.1rem;background: #fafafa;}
.price{text-align: center;overflow: hidden}


.pri-list{font-family: "Microsoft YaHei";color:#333}
.pri-list li{float: left;width: 9rem;height: 9rem;border:1px solid  #333;border-radius:1rem;margin: 4.2rem 4.4rem 0 0;}
.pri-list li h3{margin: 0;padding: 0;}
.pri-list li h3{font-size: 2.2rem;margin-top: 2.9rem;}
.pri-list li span{float: left;margin:1rem 0 0 .4rem;font-size: 1.2rem;}

/*footer*/
/*.footer{height: 12rem;width: 100%;background: #f2f2f2}*/
/*.footer-con{font-family: "Microsoft YaHei";font-size:.7rem;color: #999;overflow: hidden }*/
/*.footer-nav{width: 50rem;height: 1.8rem;border-bottom: 1px solid #ccc;line-height: 1.8rem;top:6rem;}*/
/*.footer-nav-list{left: 18.3rem;top:0;}*/
/*.footer-nav-list a{color: #999;padding: 0 .7rem;}*/
/*.footer-nav-list a:hover{text-decoration: underline;color: #333;}*/
/*.footer-nav-con{height: 1.8rem;line-height: 1.8rem;top:7.6rem;}*/
/*.footer-nav-con i{margin-right: .6rem;}*/
/*.footer-nav-con a{color: #999;}*/
/*.footer-nav-con a:hover{text-decoration: underline;color: #333;}*/

/*.follow-con{top:4rem;height: 2rem;line-height: 2rem;}*/
/*.weixin,.weibo{top:0px;width:2rem;height: 2rem;background: url("../img/sina_weibo.png") left -1px no-repeat;background-size:2rem 8.2rem }*/
/*.weixin{position: absolute;left: 3.9rem;}*/
/*.weixin-code{display: none;position: absolute;width:5rem;height: 5.55rem;left: 2.5rem;bottom:2.35rem;z-index: 322}*/
/*.weibo{position: absolute;left: 6.9rem;background-position: left -4.15rem;}*/
/*.weixin:hover{background-position: left -2.1rem;}*/
/*.weibo:hover{background-position: left -6.2rem;}*/

.footer{height: 240px;width: 100%;background: #f2f2f2}
.footer-con{font-family: "Microsoft YaHei";font-size:14px;color: #999;overflow: hidden }
.footer-nav{width: 1000px;height: 36px;border-bottom: 1px solid #ccc;line-height: 36px;top:120px;}
.footer-nav-list{left: 366px;top:0;}
.footer-nav-list a{color: #999;padding: 0 14px;}
.footer-nav-list a:hover{text-decoration: underline;color: #333;}
.footer-nav-con{height: 36px;line-height: 36px;top:158px;}
.footer-nav-con i{margin-right: 12px;}
.footer-nav-con a{color: #999;}
.footer-nav-con a:hover{text-decoration: underline;color: #333;}

.follow-con{top:80px;height: 40px;line-height: 40px;}
.weixin,.weibo{top:0px;width: 40px;height: 40px;background: url("../img/sina_weibo.png") left -1px no-repeat;}
.weixin{position: absolute;left: 78px;}
.weixin-code{display: none;position: absolute;width:100px;height: 111px;left: 50px;bottom:47px;z-index: 322}
.weibo{position: absolute;left: 138px;background-position: left -83px;}
.weixin:hover{background-position: left -42px;}
.weibo:hover{background-position: left -124px;}

/*返回顶部*/
.return-top{position: fixed;right:30px;bottom: 100px;width: 80px;height: 80px;}
.return-top-btn{display: inline-block;top:0;width: 80px;height: 80px;background: url("../img/btn_returntop.png") left -1px no-repeat;}
.return-top-btn:hover{background-position: left -81px;}


/*意见反馈*/
