@charset "utf-8";

.banner{position: relative;width:15rem;height: 8.4rem;margin: 0 auto;}
.banner img{width: 15rem;height: 8.4rem;}
.btn-activity-rule,.btn-personal-center{position: absolute;padding: .3rem .4rem 0;width: 1.3rem;height: 1.7rem;line-height: .7rem;
    font-size: .6rem;color: #fff;text-align: center;text-indent: -999px}
.btn-activity-rule{top:3.2rem;right: .2rem}
.btn-personal-center{top:6rem;right: .2rem}
.bg-chicken{margin: 0 auto;width: 15rem;height: 15.8rem;background:url("../img/yz_ny_bg_chicken_750-790.jpg")center;background-size: 15rem 15.8rem;}
.bg-chicken img{width: 15rem;height: 15.8rem;}
.content{margin: 0 auto;padding-bottom: 2rem;width: 15rem;background: url("../img/bg.jpg");background-size: 15rem 30rem}

/*幸运大转盘*/
.turn-con{overflow-x:hidden;width: 100%;}
.turncol{display:block;width:85%;margin:1rem auto 1rem}
.turncol .turnplate{display:block;width:100%;position:relative}
.turncol .turnplate canvas.item{width:100%;margin: 0 auto}
.turncol .turnplate img.pointer{position:absolute;width:31.5%;height:38%;left:34.6%;top:27%}

/*抽奖机会*/
.lucky-draw{margin: 0 auto;width: 13.5rem;height: 1.76rem;background:url("../img/yz_ny_chance_bg-690-88.png") center;background-size: 13.5rem 1.76rem;text-align: center; }
.lucky-draw-tips{font-size: .6rem;color: #c82c2f;margin-top: .7rem}
.lucky-draw-tips i{margin: 0 .1rem;font-size: .72rem;color: #fff;font-weight: 500;}

/*抽奖列表*/
.draw-list{margin: .8rem auto 0;width: 13.5rem;height: 5.2rem;background: url("../img/yz_ny_list_bg-690-260.png") center;background-size: 13.5rem 5.2rem;text-align: center;}
.draw-list h3{display: inline-block;margin:.6rem auto 0 ;font-size: .6rem;color: #c82c2f}
.draw-list-con-box{width: 12.3rem;height: 3rem;padding: 0 .3rem;margin-top: .2rem;overflow: hidden}
.draw-list-con{}
.draw-list-con li{position: relative;width: 12.6rem;height: .5rem;margin-bottom: .6rem;font-size: .48rem;color: #666;line-height: .6rem;}
.draw-list-con li:nth-last-child(1){margin-top: 0;}
.circle{position: absolute;display: inline-block;width: .2rem;height: .4rem;background: url("../img/circle.png")center;background-size: .2rem .4rem;}
.draw-list-con li p{display: inline-block;width:11.9rem;line-height: .48rem;text-overflow: ellipsis;white-space: nowrap;overflow: hidden}
.draw-list-con li p i{color: #8f7f7e;font-size: .44rem;}
.prize{display: inline-block;margin: 0 .3rem;width: 3.5rem;text-overflow: ellipsis;white-space: nowrap;overflow: hidden}

/*活动规则*/
.activity-rule-box,.personal-center-box{display: none;position: fixed;width: 100%;height: 100%;top:0;left: 0;background: rgba(0,0,0,.5);z-index: 9999;overflow: hidden;}
.activity-rule{position: absolute;z-index:-1;width:15rem;height: 16.6rem;left: 50%;margin-top: 4rem;margin-left: -7.5rem;background: url("../img/yz_ny_rule_bg-750-830.png");background-size: 15rem 16.6rem;overflow: hidden;}
.activity-rule-title{width: 15rem;text-align: center;margin: 1.8rem 0 .2rem}
.activity-rule-title img{width: 4.86rem;}
.btn-close{display: block;width: 1.4rem;height: 1.4rem;margin-left: 11.6rem}
.activity-rule-con-box{width: 10.7rem;height: 11.7rem;margin: .5rem auto 0;overflow: hidden;}
.activity-rule-con,.personal-center-con{width: 9.5rem;height: 10.4rem;margin: 0 auto;padding: .5rem .6rem 0;overflow: auto;}
.personal-center-con{height: 9.3rem;padding-top: 0;}
.activity-rule-con p,.personal-center-con p{font-size: .52rem;color: #666;line-height: .8rem;}
.activity-rule h3{width: 15rem;height: .7rem;text-align: center;font-size: .72rem;color: #f0793e;margin-top: .3rem}