/*Font layout*/
.puncuation {
    letter-spacing: -0.3em;
}
html[lang=zh-CN] .more.myriad::after{top:0;}
#ac-localnav .ac-ln-title a{font-family: "Myriad Set Pro", 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;}
html[lang=zh-CN] #ac-localnav, 
html[lang=zh-CN] #ac-localnav select, 
html[lang=zh-CN] #ac-localnav button,
html[lang=zh-CN] #ac-localnav .ac-ln-button,
html[lang=zh-CN] #ac-globalfooter .ac-gf-buystrip-info-copy,
html[lang=zh-CN] #ac-globalfooter .ac-gf-buystrip-hero-title,
html[lang=zh-CN] #ac-globalfooter .ac-gf-buystrip-info-title,
html[lang=zh-CN] #ac-globalfooter a.ac-gf-block .ac-gf-block-link,
html[lang=zh-CN] #ac-globalfooter .ac-gf-sosumi p, 
html[lang=zh-CN] #ac-globalfooter .ac-gf-sosumi li,
html[lang=zh-CN] #ac-globalfooter .ac-gf-buystrip-info-caption,
html[lang=zh-CN] #ac-globalfooter, 
html[lang=zh-CN] #ac-globalfooter select,
html[lang=zh-CN] #ac-globalfooter button,
html[lang=zh-CN] span.badge-half,
html[lang=zh-CN] span.badge-small {
   font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
}
html[lang=zh-CN] span.badge-half.myriad,
html[lang=zh-CN] h3.myriad{font-family: "Myriad Set Pro", 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif; }
html[lang=zh-CN] span.badge-half.myriad{ font-size: 0.5em;}
html[lang=zh-CN] h1.unibrow.myriad{ font-family: "Myriad Set Pro", 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;  font-size: 52px;
    line-height: 1.0769;
    font-weight: 200}
@media only screen and (max-width: 1068px) {
    html[lang=zh-CN] h1.unibrow.myriad {
        font-size: 42px;
        line-height: 1.1429;
        font-weight: 200
    }
}

@media only screen and (max-width: 735px) and (max-device-width: 768px) {
    html[lang=zh-CN] h1.unibrow.myriad {
        font-size: 36px;
        line-height: 1.1111;
        font-weight: 200
    }
}


.main .copy .links {
	font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
	line-height: 1.25;
}

.main .section h1 {
    line-height: 1.1;
}

.localnav-title .letterspacing { letter-spacing: 0px; }

.icon-play::before,.icon-play::after{
	top:-0.1em;
}
.icon-more::before, .more::before, .icon-more::after, .more::after { top:-0.1em; }

span.label, span.badge-small, figcaption.label { text-transform: none; }

.badge-large .badge-half{font-size: 0.4em;}
/*Font layout End*/

/*Font Hack*/
.punctuation-half-back {
    margin-left: -0.6em;
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
/*Font Hack End*/

/*CN Only*/

@media only screen and (max-width: 735px) and (max-device-width: 768px) {
    .page-overview .filmlist-item, .filmlist-item:first-child {
        margin: 0 40px
    }
}

.main .herointro-headline {
	font-family: "Myriad Set Pro", 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
}

html.oldie[lang=zh-CN] .main .herointro-headline {
   font-family: "Myriad Set Pro", 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
}


@media only screen and (max-width: 1068px) {
    .main .herointro-headline {
    	font-family: "Myriad Set Pro", 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
        font-size: 52px;
        line-height: 1.0769;
        font-weight: 200;letter-spacing: 0px;
    }
}

@media only screen and (max-width: 735px) and (max-device-width: 768px) {
   .main .herointro-headline {
    	font-family: "Myriad Set Pro", 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
        font-size: 52px;
        line-height: 1.0769;
        font-weight: 200; letter-spacing: 0px;
    }
}


.main .herointro-headline .herointro-subheadline {
	font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
    font-size: 39px;
    line-height: 1.1;letter-spacing: 1px;
    font-weight: 200;
    margin-top: -0.13em;
    display: block;
}


html.oldie[lang=zh-CN] .main .herointro-headline .herointro-subheadline {
    font-family: 'Microsoft yahei','微软雅黑', "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}



@media only screen and (max-width: 1068px) {
    .main .herointro-headline .herointro-subheadline {
    	font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
        font-size: 29px;
        line-height: 1.1;letter-spacing: 1px;
    }
}

@media only screen and (max-width: 735px) and (max-device-width: 768px) {
    .main .herointro-headline .herointro-subheadline {
    	font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
        font-size: 29px;
        line-height: 1.1;letter-spacing: 1px;
    }
}




.main p, .main li {
    font-size: 16px;
    line-height: 1.8;
}

@media only screen and (max-width: 1024px) {
    .main p, .main li {
        font-size: 16px;
    }
}

@media only screen and (max-width: 735px) and (max-device-width: 768px) {
    .main p, .main li {
        font-size: 16px;
    }
}

.film-reveal, .film-design, .filmlist-cta.icon-play { font-size: 22px; }

@media only screen and (max-width: 1068px) {
    .film-reveal, .film-design, .filmlist-cta.icon-play {
        font-size: 18px;
        line-height: 1.4;
    }
}

@media only screen and (max-width: 735px) and (max-device-width: 768px) {
    .film-reveal, .film-design, .filmlist-cta.icon-play {
        font-size: 18px;
        line-height: 1.8;
    }
}

.scrollcta-copy { font-size: 16px; }

p.herointro-copy { font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif; font-size: 25px; }

.page-home #learn-more .section-content h3 { font-family: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif; font-size: 20px; }

.badge-small{font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif; font-size:16px;}

.label { font-size: 14px; }

.unibrow { font-size: 48px; }

@media only screen and (max-width: 1068px) {
    .unibrow {
        font-size: 40px;
    }
}

@media only screen and (max-width: 735px) and (max-device-width: 768px) {
    .unibrow {
        font-size: 34px;
    }
}

.badge-large .badge-half.nosize { font-family: "Myriad Set Pro", 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif; font-size: 0.5em;  }

@media only screen and (max-width: 1068px) {
	.section-keysdesign .badge-large .badge-half.nosize {
		top: -.6em;
	}
}


.section-design .unibrow {
    font-size: 48px;
    line-height: 1.1;
}

@media only screen and (max-width: 1068px) {
    .section-design .unibrow {
        font-size: 40px;
    }
}

@media only screen and (max-width: 735px) and (max-device-width: 768px) {
    .section-design .unibrow {
        font-size: 28px;       
    }
}

.section-design .block-link {
    font-size: 16px;
}



.buystrip-block-copy {
	font-size:14px;
}

/*Design page*/
.section-hero .hero-headline {
    font-size: 60px;
    line-height: 1.1;
}
@media only screen and (max-width: 1068px) {
    .section-hero .hero-headline {
        font-size: 48px;
    }
}

@media only screen and (max-width: 735px) and (max-device-width: 768px) {
    .section-hero .hero-headline {
        font-size: 34px;
    }
}

.section-hero .intro { font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif; font-size:25px; line-height: 1.6; }
@media only screen and (max-width: 735px) and (max-device-width: 768px) {
    .intro {
        font-size: 22px;
    }
}

.section-interactivevideo .label { font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif; font-size:14px; font-weight: 200; }

.row .label { font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif; font-size:14px; font-weight: 200; } 

.page-design h3 {
    font-size: 30px;
    line-height: 1.2;
}

@media only screen and (max-width: 1068px) {
    .page-design h3 {
        font-size: 26px;
    }
}

@media only screen and (max-width: 735px) and (max-device-width: 768px) {
    .page-design h3 {
        font-size: 22px;
    }
}

.trackpad-internals .label-copy { font-size: 14px; }

.section-batteries .badge, .section-keysdesign .badge {
    width: 150px;
}

@media only screen and (max-width: 1068px) {
    .section-batteries .badge, .section-keysdesign .badge {
        width: 130px;
    }
}

.row .label.label-sd-size, .row .label.label-hd-size, .row .label.label-retina-size { font-family: "Myriad Set Pro", 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif; font-size: 18px; }



.row .label.label-sd, .row .label.label-hd { font-size: 14px; }

.row .label.label-retina.nosize { font-family: "Myriad Set Pro", 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif; font-size: 14px; }


.label-logicboard-mb {
    margin-top: 0px;
}

@media only screen and (max-width: 735px) {

    .label-logicboard-mb {
        margin-top: 17px
    }
}

.page-design .section-retina-pixels .pixel.did-reveal .pixel-replay { font-size: 12px; }



.page-design #ac-globalfooter .ac-gf-sosumi small{ font-family: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif; font-size: 10px;}

.page-design p{ font-size: 16px;}
/*Specs page*/
.page-specs h3 { font-size: 26px; }
@media only screen and (max-width: 1068px) {
    .page-specs h3 {
        font-size: 22px;
    }
}

@media only screen and (max-width: 735px) and (max-device-width: 768px) {
    .page-specs h3 {
        font-size: 22px;
    }
}

/*CN Only End*/


/* wireless */

.page-wireless .section-airdrop h3.photoheader-eyebrow{
	line-height: 1;
}

html.fluid-support .section-title{letter-spacing: 0px;}
.page-wireless .section-icloud h3 html.fluid-support .section-title {
	font-family: "Myriad Set Pro", 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
    font-size: 28px;
    line-height: 1.5;
    font-weight: 200; 
}

@media only screen and (max-width: 1068px) {
    .page-wireless .section-icloud h3 html.fluid-support .section-title {
        font-size: 24px;
        line-height: 1.125;
        font-weight: 200
    }
}

@media only screen and (max-width: 735px) and (max-device-width: 768px) {
    .page-wireless .section-icloud h3 html.fluid-support .section-title {
        font-size: 20px;
        line-height: 1.15;
        font-weight: 200
    }
}

@media only screen and (max-width: 735px) {
   .page-wireless .section-icloud h3 html.fluid-support .section-title {
        font-size: 20px;
        line-height: 1.15;
        font-weight: 200
    }
}


.section-time-machine .image-time-machine-hero {
    position: relative;
    margin: -46px 0 0 -156px;
    z-index: 0
}

@media only screen and (max-width: 1068px) {
    .section-time-machine .image-time-machine-hero {
        margin: -312px 0 0 -174px
    }
}

@media only screen and (max-width: 735px) and (max-device-width: 768px) {
    .section-time-machine .image-time-machine-hero {
        margin: 31px auto 4px
    }
}

/* Coming Soon*/
.violator-compact{
	font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
	font-size: 14px;
}



.page-design .section-trackpad .label-copy.nosize { font-family: "Myriad Set Pro", 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif; font-weight: 600; font-size: 12px;  }



