@charset "utf-8";

html{color:rgba(51,51,51,1);background:rgba(255,255,255,1);overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html *{outline:0;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
html,body{font-family:sans-serif}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
a{color:rgba(102,102,102,1);text-decoration:none;cursor:default}
a:hover{color:rgba(80,159,228,1);text-decoration:none}
ins,a{text-decoration:none}

:focus{outline:0;}
.clearfix:after{content:".";visibility:hidden;display:block;clear:both;height:0}
.clearfix{*zoom:1}
.clear{clear:both;height:0;font:0/0 Arial;visibility:hidden}
.yh{font-family:"\5FAE\8F6F\96C5\9ED1"}
.ch{font-family:"SimSun"}
.c-f{text-align:center}
.hidden-f{overflow:hidden}
.v-hidden{visibility:hidden}
.tunder-f{text-decoration:underline}
.thide-f{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.nowrap-f{white-space:nowrap}
.none-f{display:none}
.inline-f{display:inline}
.block-f{display:block}
.i-block-f{display:inline-block}
.auto-f{margin:0 auto}
.fl{float:left}
.fr{float:right}
.pa-f{position:absolute}
.pr-f{position:relative}
.cursor-f{cursor:pointer}
.hide,.hidden{display:none!important}
.hidetext{text-indent:-624.9375rem;overflow:hidden}
.white{color:rgba(255,255,255,1)}
.red{color:rgba(255,0,0,1)}
.green{color:rgba(0,128,0,1)}
.blue{color:rgba(80,159,228,1)}

/*字大小*/
.fs12{font-size:.75rem}
.fs13{font-size:.8125rem}
.fs14{font-size:.875rem}
.fs15{font-size:.9375rem}
.fs18{font-size:1.125rem}
.fs20{font-size:1.25rem}
.fs24{font-size:1.5rem}
.fwb{font-weight:700}

/*行距*/
.lh16{line-height:1rem}
.lh18{line-height:1.125rem}
.lh20{line-height:1.25rem}
.lh22{line-height:1.375rem}
.lh30{line-height:1.875rem}
.lh32{line-height:2rem}

/*外边距*/
.mt5{margin-top:.3125rem}
.mr5{margin-right:.3125rem}
.mb5{margin-bottom:.3125rem}
.ml5{margin-left:.3125rem}
.mt8{margin-top:.5rem}
.mr8{margin-right:.5rem}
.mb8{margin-bottom:.5rem}
.ml8{margin-left:.5rem}
.mt10{margin-top:.625rem}
.mr10{margin-right:.625rem}
.mb10{margin-bottom:.625rem}
.ml10{margin-left:.625rem}
.mt12{margin-top:.75rem}
.mr12{margin-right:.75rem}
.mb12{margin-bottom:.75rem}
.ml12{margin-left:.75rem}
.mt15{margin-top:.9375rem}
.mr15{margin-right:.9375rem}
.mb15{margin-bottom:.9375rem}
.ml15{margin-left:.9375rem}
.mt20{margin-top:1.25rem}
.mr20{margin-right:1.25rem}
.mb20{margin-bottom:1.25rem}
.ml20{margin-left:1.25rem}

/*内间距*/
.pt5{padding-top:.3125rem}
.pr5{padding-right:.3125rem}
.pb5{padding-bottom:.3125rem}
.pl5{padding-left:.3125rem}
.pt8{padding-top:.5rem}
.pr8{padding-right:.5rem}
.pb8{padding-bottom:.5rem}
.pl8{padding-left:.5rem}
.pt10{padding-top:.625rem}
.pr10{padding-right:.625rem}
.pb10{padding-bottom:.625rem}
.pl10{padding-left:.625rem}
.pt12{padding-top:.75rem}
.pr12{padding-right:.75rem}
.pb12{padding-bottom:.75rem}
.pl12{padding-left:.75rem}
.pt15{padding-top:.9375rem}
.pr15{padding-right:.9375rem}
.pb15{padding-bottom:.9375rem}
.pl15{padding-left:.9375rem}
.pt20{padding-top:1.25rem}
.pr20{padding-right:1.25rem}
.pb20{padding-bottom:1.25rem}
.pl20{padding-left:1.25rem}
